
.arrow a{
    padding-right: 6px;
}
.arrow > a::after{
    position: relative;
    /* top: 3pt; Uncomment this to lower the icons as requested in comments*/
    content: "";
    display: inline-block;
    /* By using an em scale, the arrows will size with the font */
    width: 0.4em;
    height: 0.4em;
    border-right: 0.15em solid black;
    border-top: 0.15em solid black;
    transform: rotate(45deg);
    margin-right: 0.5em;
    padding: 3px;
}

.menu-item, .top-level-menu{
    font: bold 14px Arial, Helvetica, sans-serif;
    line-height: 30px;
    width: 150px;
    position: relative;
    background-color: #999999;
    border: 0.1px solid black;
    box-sizing: border-box;
    text-align: center;
    list-style: none;
}

.top-level-menu > li:hover { background: #CCCCCC; }

.top-level-menu li:hover > ul
{
    /* On hover, display the next level's menu */
    display: inline;
}

.submenu{
    position: absolute;
    left: 150px;
    top: 0;
    margin: 0;
    display: inline-block;
    padding: 0;
    display: none;
}
.submenu > li:hover{
    background: #CCCCCC;
}
.submenu:hover{
    display: block;
    background: #CCCCCC;
}